modules = ["nodejs-20", "python-3.11", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Web Server"

[[workflows.workflow]]
name = "Start Web Server"
author = 47059461
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Desktop/amazon-clone && python3 -m http.server 5000"
